* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Bai Jamjuree', sans-serif;
    background-color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(4, 173, 191, 0.8); /* Haciendo el fondo semi-transparente */
    padding: 15px 200px;
    color: white;
    position: relative; /* o absolute/fixed si es necesario */
    z-index: 3; /* Asegúrate de que este número sea mayor que el del banner */
    font-weight: bold;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    flex: 1; /* Para alinear el logo a la izquierda */
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: center;
    flex: 2; /* Ocupa el espacio central */
}

.nav-links li {
    margin: 0 15px;
}

.register,
.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    height: 100%; /* Asegura que el texto esté alineado verticalmente */
}

.register:hover,
.nav-links a:hover {
    color: #0000007c;
}

.auth-buttons {
    display: flex;
    gap: 20px;
    flex: 1;
    justify-content: flex-end;
    align-items: center; /* Alinea verticalmente los botones */
}

.login {
    padding: 8px 30px;
    background-color: white;
    color: #04ADBF;
    border-radius: 40px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    white-space: nowrap; /* Evita que el texto se divida */
    display: inline-flex; /* Flexbox para mejor alineación del contenido */
    align-items: center; /* Asegura que el texto dentro del botón esté centrado verticalmente */
    justify-content: center; /* Asegura que el contenido dentro del botón esté centrado */
}

.login:hover {
    background-color: #D9D9D9;
    color: white;
}

@font-face {
    font-family: 'Nico Moji';
    src: url('Fonts/NicoMoji-Regular.ttf') format('truetype');
    font-weight: Regular;
    font-style: Regular;
}

.banner {
    background-image: url('images/Banner.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh; /* Ajusta la altura a lo que prefieras */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
    z-index: 1; /* Mantén este índice z bajo */
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2; /* Este valor debe ser menor que el del header */
}


.banner-content {
    position: relative;
    z-index: 2; /* Asegura que el contenido esté por encima del filtro oscuro */
}

.banner h1 {
    font-family: 'Nico Moji', sans-serif;
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 70px; /* Aumenta este valor */
    line-height: 1;
    text-transform: uppercase;
}

.cta-button {
    padding: 15px 80px;
    background-color: #00bbd4b9;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    margin-top: 40px; /* Aumenta este valor */
}

.cta-button:hover {
    background-color: #899c9ea9;
}

.cta-text {
    color:  #00bbd4; /* Cambia este valor al color que prefieras */
}
/****************/
.planes {
    padding: 50px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.planes-content h1 {
    font-size: 2em;
    margin-bottom: 30px;
}

.service-item {
    margin: 50px 20px;
    border-radius: 50px;
    transition: transform 0.3s;
    display: inline-block;
    width: 300px;
    height: 500px;
    overflow: hidden;
    position: relative;
    text-align: left;
    background: #fff;
}

.service-item.basico,
.service-item.intermedio,
.service-item.avanzado {
    background-size: cover;
    background-position: 48% center;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
}

/* Estilos específicos de fondo para cada plan */
.service-item.basico {
    background: url('images/yoga2.webp') no-repeat;
    background-size: cover;
    background-position: 48% center;
    position: relative;
    overflow: hidden;
    border-radius: 50px;

}

.service-item.intermedio {
    background: url('images/Pesas_mujer.jpg') no-repeat;
    background-size: cover;
    background-position: 48% center;
    position: relative;
    overflow: hidden;
    border-radius: 50px;

}

.service-item.avanzado {
    background: url('images/Pesas.jpg') no-repeat;
    background-size: cover;
    background-position: 48% center;
    position: relative;
    overflow: hidden;
    border-radius: 50px;

}

/* Oscurecer fondo al pasar el ratón */
.service-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); /* Efecto de oscurecimiento */
    border-radius: 50px;
    transition: background 0.3s;
    z-index: 0;
}

/* Mostrar contenido al pasar el ratón */
.service-item:hover:before {
    background: rgba(0, 0, 0, 0.6); /* Mayor oscurecimiento al hover */
}

.service-item * {
    position: relative;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Mostrar contenido al pasar el ratón */
.service-item:hover * {
    opacity: 1;
}

.service-item h3 {
    font-family: 'Nico Moji', sans-serif;
    font-weight: normal;
    font-size: 2.5em;
    margin: 40px;
    color: rgb(4, 172, 191);
}

.service-item.intermedio h3 {
    font-size: 2em;
}

.service-item .sub-title {
    font-family: 'Jura', sans-serif;
    font-weight: normal;
    font-size: 1em;
    color: #ffffff;
    margin: -50px;
    margin-left: 43px;
}

.service-item .price {
    font-family: 'Audiowide', sans-serif;
    font-size: 2em;
    font-weight: normal;
    color: #fff;
    margin-left: 105px;
    margin-top: 60px;
    display: flex;
    align-items: flex-end;
}

.service-item .old-price {
    text-decoration: line-through;
    color: rgb(4, 172, 191);
    font-weight: normal;
    font-size: 0.5em;
    margin-bottom: -15px;
    margin-left: -80px;
}

.service-item p {
    font-size: 12px;
    color: #fff;
    text-align: justify;
    margin-left: 40px;
    margin-top: 30px;
    margin-right: 35px;
}

.service-item ul {
    font-size: 12px;
    color: #fff;
    text-align: justify;
    margin-left: 52px;
    margin-top: 15px;
    margin-right: 35px;
}

.service-item ul li {
    list-style: disc;
    margin: 5px 0;
    color: #fff;
}

.service-item:hover {
    transform: scale(1.05);
}

.cta-text {
    color: #00b2a9;
    font-weight: bold;
}
/* Sección de entrenamiento */
.entrenamiento {
    width: 100vw; /* Abarca todo el ancho de la pantalla */
    margin: 0 auto; /* Centra la sección si se redimensiona */
    text-align: center;
    background-color: #000000; /* Fondo negro solo para esta sección */
    padding: 100px 0; /* Añadir padding para más altura */
    box-sizing: border-box; /* Incluir el padding en el ancho total */
}

.entrenamiento h1 {
    font-size: 2em; /* Aumentado tamaño de la fuente */
    color: #ffffff;
    margin: 5px 0 80px; /* Reducido margen superior a 5px */
}

.entrenamiento h1 span {
    color: #04ADBF;
}

.contenido {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinear al inicio para que las imágenes se alineen correctamente */
    width: 80%; /* Limitar el contenido al 80% del ancho */
    margin: 0 auto; /* Centrar el contenido dentro de la sección */
    flex-wrap: wrap; /* Para ajustar los elementos en pantallas más pequeñas */
}

.texto {
    width: 45%;
    text-align: left;
}

.texto h2 {
    font-size: 1.8em; /* Aumentado tamaño de la fuente */
    color: #04ADBF;
}

.texto h3 {
    font-size: 1.5em; /* Aumentado tamaño de la fuente */
    color: #ffffff;
    margin: 10px 0;
}

.texto p {
    margin: 20px 0;
    line-height: 1.6;
    color: #ffffff;
}

.boton {
    display: inline-block;
    background-color: #04ADBF;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.boton:hover {
    background-color: #028C99; /* Cambia el color de fondo al pasar el mouse */
}

.imagenes {
    width: 50%;
    display: flex;
    gap: 10px; /* Espacio entre las imágenes */
}

.imagenes img:first-child {
    width: 70%; /* Primera imagen será más pequeña */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px;
    object-fit: cover; /* Mantiene la proporción y recorta si es necesario */
}

.imagenes img:last-child {
    width: 100%; /* Segunda imagen ocupará todo el ancho disponible */
    height: 300px; /* Aumentado tamaño de la imagen de corte */
    margin-bottom: 20px; /* Añadir margen inferior */
    border-radius: 20px; /* Redondear bordes de la segunda imagen */
    object-fit: cover; /* Recorta la imagen si es necesario */
}


/* Footer */

footer {
    background-color: #04ADBF;
    color: #ffffff;
    padding: 40px 20px;
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: center; /* Centra todos los elementos en horizontal */
    align-items: center; /* Alinea los elementos verticalmente */
    max-width: 1200px;
    margin: 0 auto; /* Mantiene el footer centrado dentro de su contenedor */
    flex-wrap: wrap; /* Permite que los elementos se ajusten en varias filas si es necesario */
}

.footer-logo, .footer-contact, .footer-hours {
    flex: 1 1 300px; /* Se ajusta para que cada sección ocupe espacio igual y flexible */
    margin: 10px;
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center; /* Centra el texto dentro de cada sección */
}

.footer-logo h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.footer-logo h3 {
    margin-top: 100px;
}

.footer-contact a {
    color: #ffffff;
    text-decoration: none;
}

.footer-contact a:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
}

.footer-bottom p {
    margin: 0px;
}

